@{
    ViewData["Title"] = "Inicio";
}

<div class="container text-center d-flex flex column justify-content-center align-items-center">
    <h1 class="display-1 fw-bold text-dark animate_animated animated_fadeInDown">
        <span class="">Kanban</span>
    </h1>
    <p class="lead">Organiza tus tareas de manera eficiente.</p>

    
</div>
