@{
    ViewData["title"] = "Iniciar Sesion";
}

@model LoginVM

<!-- Mostrar mensaje de error si existe -->
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}

<section class="container d-flex justify-content-center align-items-center">
    <article class="card shadow-lg p-4 rounded-4" style="max-width: 400px; width: 100%;">
        <h2 class="text-center text-primary mb-4">Iniciar Sesión</h2>

        <form asp-controller="Login" asp-action="Login" method="post">
            <section class="mb-3">
                <label for="Email" class="form-label fw-bold">Correo Electrónico</label>
                <input asp-for="@Model.Email" type="email" class="form-control" id="Email" required>
            </section>

            <section class="mb-3">
                <label for="Password" class="form-label fw-bold">Contraseña</label>
                <input asp-for="@Model.Password" type="password" class="form-control" id="Password" required>
            </section>

            <button type="submit" class="btn btn-primary w-100">Ingresar</button>
        </form>
    </article>
</section>
