@{
    ViewData["title"] = "Tableros";

}

@model ListarTablerosAsVM

<section class="container mt-5">
    <h2 class="text-center mb-4">Tableros</h2>

    <article class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var tablero in Model.TablerosAsignados)
        {
            if (Context.Session.GetInt32("idSesion") != tablero.IdUsuarioPropietario)
            {
                <section class="col">
                    <a asp-controller="Tareas" asp-action="Index" asp-route-idTablero="@tablero.IdTablero"
                        class="d-block text-decoration-none position-relative overflow-hidden rounded-4 shadow-lg">
                        <img src="~/img/Metodo-Kanban.jpg" class="w-100 rounded-top-4" alt="Tablero">
                        <p class="bg-black text-white text-center py-3 rounded-bottom-4 fw-bold m-0">
                            @tablero.Nombre
                        </p>
                    </a>
                </section>
            }
        }
    </article>
</section>