@{
    ViewData["Title"] = "Modificar Contraseña";
}

@model ModificarContraseñaVM

<section class="container mt-4 py-3">
    <article class="row justify-content-center">
        <section class="col-md-6">
            <header class="bg-primary text-white text-center py-3 rounded-top">
                <h2>Modificar Contraseña</h2>
            </header>
            <form asp-controller="Usuarios" asp-action="Password" method="post" onsubmit="return validarPassword()" class="p-4 border rounded-bottom shadow-lg bg-white">
                <input hidden asp-for="@Model.IdUsuarioB">

                <fieldset class="mb-3">
                    <label asp-for="@Model.newPassword" class="form-label">Contraseña nueva</label>
                    <input asp-for="@Model.newPassword" id="newPassword" type="password" class="form-control" placeholder="Ingrese su contraseña" required>
                </fieldset>

                <fieldset class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                    <input id="confirmPassword" type="password" class="form-control" placeholder="Repita su contraseña" required>
                    <small id="passwordError" class="text-danger d-none">Las contraseñas no coinciden</small>
                </fieldset>

                <footer class="text-center">
                    <button type="submit" class="btn btn-primary w-100 my-1"><i class="bi bi-floppy"></i> Cargar Usuario</button>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary w-100 my-1"><i class="bi bi-arrow-left-circle"></i> Cancelar</a>
                </footer>

            </form>
        </section>
    </article>
</section>

<script src="~/js/Password.js"></script>